---

---

<article class="bg-white transition shadow-xl mb-8">
    <div class="p-2">
      <time
        datetime="2022-10-10"
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-principal-900"
      >
        <span>Servicios</span>
        <span class="w-px flex-1 bg-principal-900/10"></span>
        <span>Trámites</span>
      </time>
    </div>

    <div class="">
      <a href="/servicios/tramites">
        <img
          alt="Trámites electronícos"
          src="/imagenes/cajasinicio/tramites-electricos.png"
          class="aspect-square h-full w-full object-cover"
        />
      </a>
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div
        class="border-l border-principal-900/10 p-4 sm:border-l-transparent sm:p-6"
      >
        <a href="/servicios/tramites">
          <h3 class="font-bold uppercase text-principal-900">
            TRÁMITES ELÉCTRICOS ENEL/LUZ DEL SUR
          </h3>
        </a>

        <ul
          class="mt-2 text-sm leading-relaxed text-principal-700 line-clamp-3 [&_span]:text-lg"
        >
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span>Planos Eléctricos en Baja y Media Tensión.</span>
          </li>
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span>Carta de Solicitud de Aumento de Carga.</span>
          </li>
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span>Carta de Solicitud de Nuevo Suministro (nuevo medidor)</span>
          </li>
        </ul>
      </div>
      <div class="sm:flex sm:items-end sm:justify-end">
        <a
          href="/servicios/tramites"
          class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-principal-900 transition hover:bg-yellow-400"
        >
          Leer más
        </a>
      </div>
    </div>
  </article>

  <article class="bg-white transition shadow-xl mb-8">
    <div class="p-2">
      <time
        datetime="2022-10-10"
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-principal-900"
      >
        <span>ASESORÍA</span>
        <span class="w-px flex-1 bg-principal-900/10"></span>
        <span>INDECI</span>
      </time>
    </div>

    <div class="">
      <a href="/servicios/asesoria">
        <img
          alt="Asesoria"
          src="/imagenes/cajasinicio/asesoria.png"
          class="aspect-square h-full w-full object-cover"
        />
      </a>
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div
        class="border-l border-principal-900/10 p-4 sm:border-l-transparent sm:p-6"
      >
        <a href="/servicios/asesoria">
          <h3 class="font-bold uppercase text-principal-900">
            ASESORÍA DEFENSA CIVIL
          </h3>
        </a>

        <span class="text-base">Expedientes INDECI</span>
        <ul
          class="mt-2 leading-relaxed text-principal-700 line-clamp-3 [&_span]:text-lg"
        >
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span>Plano de Ubicación de Local.</span>
          </li>
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span>Plano de Distribución Arquitectónica (Actualizado)</span>
          </li>
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span>Plano de señalización (Seguridad)</span
            >
          </li>
        </ul>
      </div>
      <div class="sm:flex sm:items-end sm:justify-end">
        <a
          href="/servicios/asesoria"
          class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-principal-900 transition hover:bg-yellow-400"
        >
          Leer más
        </a>
      </div>
    </div>
  </article>


  <article class="bg-white transition shadow-xl">
    <div class="p-2">
      <time
        datetime="2022-10-10"
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-principal-900"
      >
        <span>SERVICIOS</span>
        <span class="w-px flex-1 bg-principal-900/10"></span>
        <span>ADICIONALES</span>
      </time>
    </div>

    <div class="">
      <a href="/servicios/adicionales">
        <img
          alt="Servicios adicionales"
          src="/imagenes/cajasinicio/servicios-adicionales.png"
          class="aspect-square h-full w-full object-cover"
        />
      </a>
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div
        class="border-l border-principal-900/10 p-4 sm:border-l-transparent sm:p-6"
      >
        <a href="/servicios/adicionales">
          <h3 class="font-bold uppercase text-principal-900">
            SERVICIOS ADICIONALES
          </h3>
        </a>
        <ul
          class="mt-2 text-sm leading-relaxed text-principal-700 line-clamp-3 [&_span]:text-lg"
        >
          <li class="flex items-center space-x-3">
            <svg
              class="flex-shrink-0 w-6 h-6 text-verde dark:text-green-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span> Cálculos de Luminotecnia, desarrollo de
              proyectos de Iluminación, empleando el
              DIALux y las normas vigentes para los
              diversos ambientes tanto en Luxes como
              en calidad por tipo de tarea visual o
              actividad.</span>
          </li>                    
        </ul>
      </div>
      <div class="sm:flex sm:items-end sm:justify-end">
        <a
          href="/servicios/adicionales"
          class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-principal-900 transition hover:bg-yellow-400"
        >
          Leer más
        </a>
      </div>
    </div>
  </article>