
<article class="flex bg-white transition hover:shadow-xl mb-8">
    <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <time
        datetime="2022-10-10"
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-principal-900"
      >
        <span>Servicios</span>
        <span class="w-px flex-1 bg-principal-900/10"></span>
        <span>Soluciones web</span>
      </time>
    </div>

    <div class="hidden sm:block sm:basis-52">
      <img
          alt="Trámites electronícos"
          src="/imagenes/cajasinicio/servicios-soluciones-web.png"
          class="aspect-square h-full w-full object-cover hover:scale-105"
        />
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div
        class="border-l border-principal-900/10 p-4 sm:border-l-transparent sm:p-6"
      >
        <h3 class="font-bold uppercase text-lg text-principal-900">
          SOLUCIONES WEB
        </h3>
        <span class="text-sm">Páginas web</span>
        <ul
          class="mt-2 text-sm leading-relaxed text-principal-700 line-clamp-3 [&_span]:text-lg"
        >
          <li class="flex items-center space-x-3">            
            <span>Mi experiencia en el desarrollo como diseño me permite, crear páginas web interactivas y responsivos que permiten adaptarse a distintos dispositivo. Además recomiendo un alojamiento seguro y confiable.</span>
          </li>          
        </ul>
      </div>
      <div class="sm:flex sm:items-end sm:justify-end">        
      </div>
    </div>
  </article>

  <article class="flex bg-white transition hover:shadow-xl mb-8">
    <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <time
        datetime="2022-10-10"
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-principal-900"
      >
        <span>SERVICIO</span>
        <span class="w-px flex-1 bg-principal-900/10"></span>
        <span>DESARROLLO</span>
      </time>
    </div>

    <div class="hidden sm:block sm:basis-52">
      <img
          alt="Asesoria"
          src="/imagenes/cajasinicio/servicios-desarrollo.png"
          class="aspect-square h-full w-full object-cover hover:scale-105"
      />
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div
        class="border-l border-principal-900/10 p-4 sm:border-l-transparent sm:p-6"
      >
      <h3 class="font-bold uppercase text-principal-900">
        DESARROLLO
      </h3>

        <span class="text-sm">Sistemas web</span>
        <ul
          class="mt-2 text-sm leading-relaxed text-principal-700 line-clamp-3 [&_span]:text-lg"
        >
          <li class="flex items-center space-x-3">            
            <span>Con mi experiencia como programador web, <b>PHP</b>, <b>Node</b>, <b>JavaScript</b>, <b>React</b>, puedo crear aplicaciones conformadas por <b>BACK END</b> y <b>FRONT END</b> y desplegarlos en alojamientos como <b>AWS</b>, <b>NameCheap</b> y <b>CloudFlare</b>. Estoy presto a dar soluciones a los procesos y actividades cotidianas de distintas areas de tu empresa.</span>
          </li>
        </ul>
      </div>
    </div>
  </article>