---
const { img = '', nombre = ''} = Astro.props;
---
<a class="inline-block ml-4" href={nombre} target="_blank" title="Dirección" rel="noopener noreferrer">
    <img class="w-10" src={img} alt="" />
</a>