---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/principal/Banner.astro";
import Articulo from "@components/servicios/Articulo.astro";
import Contenedor from "@components/principal/Contenedor.astro";
import { portafolio } from "@utils/data";

---

<Layout title="Proyectos" desc="Nuestro proyectos eléctricos realizados.">
  <div class="w-full mx-auto bg-white shadow-md overflow-hidden">
    <section>
      <div class="grid grid-cols-1 gap-3">
        <Articulo {...portafolio} />
      </div>
    </section>
  </div>
</Layout>
